{% extends "admin_base.html" %}
{% block content %}
<div style="text-align: center; margin-bottom: 20px;">
    <img loading="lazy" src="/static/assets/Vikingo.webp" alt="Goth Prods Vikingo" style="width: 120px; border-radius: 50%; border: 2px solid var(--accent-color); box-shadow: 0 0 15px rgba(156, 154, 90, 0.4);">
</div>
<h1>Bienvenidos a Goth Prods</h1>
<form method="POST">
    <label>Correo Electrónico</label>
    <input type="email" name="email" placeholder="root@gothprods.com" required>
    
    <label>Contraseña</label>
    <input type="password" name="password" placeholder="••••••••" required>
    
    <button type="submit"><i class="fa-solid fa-right-to-bracket"></i> Entrar al Pit</button>
</form>
<a href="/admin/forgot_password" class="link">¿Olvidaste tu contraseña?</a>
{% endblock %}
